
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic|Roboto+Slab:400,700");

.box {
    grid-area: 2 / 1 / span 2 / span 2;
    margin: 25px 50px;
    overflow:auto;
}

@media screen and (max-width: 400px){
    #preview-shadow{
        max-width: 280px;
        height: 180px;
        padding-left: 10px;
        padding-top: 10px;
    }
}

#skills{
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2F3FFF;
    border-radius: 25px;
    padding: 20px;

}
#skills-row{
    display: flex;
    justify-content: space-evenly;
}
#skills-col{
    display: flex;
    justify-content: space-evenly;
}
#awards{
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2F3FFF;
    border-radius: 25px;
    padding: 20px;
}


/* Icon */
.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
    color:var(--mainText);
}
.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 400; }
.icon > .label {
    display: none; }
.icon:before {
    line-height: inherit; }
.icon.solid:before {
    font-weight: 900; }
.icon.brands:before {
    font-family: 'Font Awesome 5 Brands'; }

#profile_pic{
    display: block;
    margin:0 auto;

    height: 300px;
    width: 225px;
    object-fit: cover;
    border:2px solid var(--borderColor);
}

#preview-shadow{
    background-color: var(--previewShadow);
    max-width: 300px;
    height: 180px;
    padding-left: 30px;
    padding-top: 30px;
}

#preview{
    border-radius: 25px;
    background: #1F2F3FFF;
    padding: 20px;
    width: 300px;height: 180px;
    line-height: 3em;
}


.column {
    float: left;
    width: 50%;
    padding: 10px;
    margin-top:30px;
    height:fit-content;
    overflow:auto;
}
.row{
    margin:30px;
    height:max-content;
    overflow:auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    margin-top:30px;
}
.page-container{
    background-color:var(--secondaryColor);
    width:100%;
    margin-bottom:5%;
    margin-top:0;
}

#preview{
    height:fit-content;
}
@media screen and (max-width: 1040px) {
    #draggable, .draggable, .page-container, #page-container{
        width:100%;
        height:auto;
        margin:0;
        padding:0;
        left:0;
    }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        height:100%;
        overflow:auto;
        text-align: center;
        min-height: fit-content;
        margin-bottom: 12%;
    }
    #draggable, .draggable, .page-container, #page-container{
        width:100%;
        height:auto;
        margin:0;
        padding:0;
        left:0;
    }
    .row{
        overflow:auto;
    }
    #preview{
        width:100%;
        height:fit-content;
    }
}