
.button{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.button a {
    position: center;
    display: inline-block;
    color: white;
    padding: 0.1rem 1rem;
    text-decoration: none;
    background: #1e9b98;
    border-radius: 0.6rem;
    font-weight: 700;
    /*border: 0.23rem solid #15202c;*/
    text-align: center;
    margin: 2% 5%;
    min-width:100px;
}

@media (max-width: 600px) {
    .button a {
        min-width:75%;
    }
}

.button a:hover{
    background:#4c9e9e;
}
