.nav-wrapper{
    border-radius:5px 5px 0 0;
    grid-area:nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--previewShadow);
    width:100%;
}

#navigation a{
    color:var(--previewShadow);
}


#navigation{
    margin:0;
    padding: 10px;
}

#navigation li{
    display: inline-block;
    margin-right: 5px;
    margin-left:5px;
}

@font-face {
    font-display: block;
    font-family:"Proxima-N-W01-Reg";
    src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix");
    src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/64017d81-9430-4cba-8219-8f5cc28b923e.woff2") format("woff2"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/e56ecb6d-da41-4bd9-982d-2d295bec9ab0.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/2aff4f81-3e97-4a83-9e6c-45e33c024796.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/ab9cd062-380f-4b53-b1a7-c0bec7402235.svg#ab9cd062-380f-4b53-b1a7-c0bec7402235") format("svg");
}
@font-face{
    font-family:"Proxima-N-W05-Reg";
    src: url("//static.parastorage.com/services/santa-resources/resources/viewer/user-site-fonts/fonts/ProximNova/v1/ProximaNovaW05-Regular.woff2") format("woff2"),
    url("//static.parastorage.com/services/santa-resources/resources/viewer/user-site-fonts/fonts/ProximNova/v1/ProximaNovaW05-Regular.woff") format("woff");
}

ul li, p{
    list-style: none;
    color: var(--mainText);
    font-family: Proxima-N-W05-Reg,Arial,Helvetica,sans-serif;
    font-weight: 550;
    font-size: 20px;
}

.drop-btn {
    background-color: inherit;
    color: inherit;
    font-family: Proxima-N-W05-Reg,'Roboto Mono', monospace;
    font-size: 18px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    background-color: var(--previewShadow);
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: static;
    background-color: var(--mainColor);
    color: var(--secondaryText);
    font-family: Proxima-N-W05-Reg,Arial,Helvetica,sans-serif;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 100;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: var(--secondaryText);
    font-family: Proxima-N-W05-Reg,Arial,Helvetica,sans-serif;;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: var(--previewShadow);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .drop-btn {background-color: inherit;}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.arrow {
    border: solid var(--secondaryText);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.dots-wrapper{
    display: flex;
    padding: 10px;
}

#dot-1{
    background-color:  #FC6058;
}

#dot-2{
    background-color:  #FEC02F;
}

#dot-3{
    background-color:  #2ACA3E;
}

.browser-dot{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

}
/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: var(--mainColor);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--secondaryColor);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
    background-color: var(--borderColor);
}

* {
    box-sizing: border-box;
}
.top-nav {
    width:100%;
    max-width:675px;
    float:right;
    align-content:flex-end;
    overflow: hidden;
    align-self:flex-end;
    align-items:flex-end;
    justify-content: flex-end;
}

.top-nav a {
    float: left;
    display: block;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 16px;
    border-radius:0 21px 0 0;
    background-color: var(--secondaryColor);
    border-width:1px;
    margin-right:25px;
}

.active {
    background-color: var(--borderColor);

}

.top-nav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .drop-btn {
    font-size: 17px;
    border: none;
    outline: none;
    color: #EDEBD7;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: static;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 100;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.top-nav a:hover, .dropdown:hover .drop-btn {
    background-color: var(--borderColor);
    color: white;
}

.dropdown-content a:hover {
    background-color: var(--borderColor);
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.hamburger{
    color:white;
}

@media screen and (max-width: 600px) {
    .dots-wrapper{
        display:none;
    }
    .top-nav a, .dropdown .drop-btn {
        display: none;
    }
    .top-nav a.icon {
        float: right;
        display: block;
    }
    .top-nav.responsive {position: relative;}
    .top-nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .top-nav.responsive a {
        float: none;
        display: block;
        text-align: left;
        border-width:0;
    }
    .top-nav.responsive .dropdown {float: none;}
    .top-nav.responsive .dropdown-content {position: relative;}
    .top-nav.responsive .dropdown .drop-btn {
        display: block;
        width: 100%;
        text-align: left;
    }
    .top-nav a:not(:last-child), .dropdown .drop-btn {
        display: none;
    }
    .top-nav a.icon {
        float: right;
        display: block;
    }
    .browser-dot{
        display: none;
    }
}
.dots-wrapper{
    align-items: center;
    padding-top:0;
    padding-bottom:0;
    width:60%;
}
.name{
    margin-left:10px;
    padding-top:0;
    padding-bottom:0;
    margin-top:10px;
    margin-bottom:10px;
    align-self:center;
}

* {
    box-sizing: border-box;
}
.top-nav {
    width:100%;
    max-width:675px;
    float:right;
    display:flex;
    align-content:flex-end;
    overflow: hidden;
    align-self:flex-end;
    align-items:flex-end;
    justify-content: flex-end;
}

.top-nav .icon {
    display: none;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: var(--borderColor);
}

@media screen and (max-width: 1100px) {
    .top-nav a {
        margin-top:5px;
    }
}

@media screen and (max-width: 960px) {
    .browser-dot{
        display:none;
    }.dots-wrapper{max-width: 192px;
    }
}

@media screen and (max-width: 800px) {
    .browser-dot{
        display:none;
    }
    .top-nav{position: relative;
        display:block;
    }
    .top-nav a{
        display: none;
    }
    .top-nav a.icon {
        float: right;
        display: block;
    }
    .top-nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .top-nav.responsive a {
        float: none;
        display: block;
        text-align: left;
        border-width:0;
    }
    .top-nav{float: none;position: relative;
        display: block;
        width: fit-content;
        text-align: left;
    }
}

@media screen and (max-width: 340px) {
    .dots-wrapper{
        max-width: 146px;
    }
}

#crime-map, #into-the-storm, #rpg{
    display:none;
}


* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}

body {

    font-family: cursive;

}

a {

    text-decoration: none;

}

li {

    list-style: none;

}

.navbar {

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 20px;

    background-color: var(--mainColor);


}

.logo {

    font-size: 32px;

}

.menu {

    display: flex;
    justify-content: flex-end;

    gap: 1em;

    font-size: 18px;

}

.menu li:hover {

    background-color: #4c9e9e;

    border-radius: 5px;

    transition: 0.3s ease;

}

.menu li {

    padding: 5px 14px;

}

.services {

    position: relative;

}

.dropdown {

    background-color: rgb(1, 139, 139);

    padding: 1em 0;

    position: absolute; 

    display: none;

    border-radius: 8px;

    top: 35px;

}

.dropdown li + li {

    margin-top: 10px;

}

.dropdown li {

    padding: 0.5em 1em;

    width: 8em;

    text-align: center;

}

.dropdown li:hover {

    background-color: #4c9e9e;

}

.services:hover .dropdown {

    display: block;

}


input[type=checkbox]{

    display: none;

}


.hamburger {

    display: none;

    font-size: 24px;

    user-select: none;

}


@media (max-width: 768px) {
    .dots-wrapper{
        display: none;
    }

    .nav-links{width:100%;}

    .menu {

        display:none;

        position: static;

        background-color:var(--mainColor);

        right: 0;

        left: 0;

        text-align: center;

        padding: 16px 0;

    }

    .menu li:hover {

        display: inline-block;

        background-color:#4c9e9e;

        transition: 0.3s ease;

    }

    .menu li + li {

        margin-top: 12px;

    }

    input[type=checkbox]:checked ~ .menu{

        display: block;

    }

    .hamburger {

        display: block;

    }

    .dropdown {

        left: 50%;

        top: 30px;

        transform: translateX(35%);

    }

    .dropdown li:hover {

        background-color: #4c9e9e;

    }

}
