hr{
    border:1px solid var(--borderColor);
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
    margin-top:30px;
    height:fit-content;
}

.three-award-column{
      float: left;
      width: 33%;
      padding: 10px;
      overflow:auto;
}

.award-img{
    max-width: 100%;
    max-height: 200px;
    display:block;
    margin:auto;
}

.award-row{
    max-height: 75%;
}

.project-column,column {
    float: left;
    width: 50%;
    padding: 10px;
    overflow:auto;
    height:100%;
}
.project-row, row{
    height:max-content;
    overflow:auto;
}

ul li{
    list-style: disc;
}
.video_wrapper {
    width: 100%;/* 16:9, for an aspect ratio of 1:1 change to this value to 100% */
}
.card__video {
    align-self: start;
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
}
.project-section{margin-top:2%;line-height: 2.5em;}
.details ul li{list-style: disc;margin-left:2em;}

.project-row:after, row:after,.award-row:after {
    content: "";
    display: table;
    clear: both;
    margin-top:1%;
}



@media screen and (max-width: 800px) {
    .project-column,.three-award-column {
        width: 100%;

    }
    #skills {
        width:150%;

    }
    #preview{
        width:100%;
        height:fit-content;
    }
}

@media screen and (max-width: 1200px) {
    .column {
        width: 100%;
    }
}

.prevA, .nextA{
    cursor: pointer;
    position: absolute;
    height:auto;
    color: white;
    background-color:var(--borderColor);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    border-color:transparent;
}

.nextA{
    position: absolute;
    right: 5%;
}
.prevA{
    position: absolute;
    left: 5%;
}
.prevA:hover, .nextA:hover {
    background-color: var(--previewShadow);
}

.video {
    margin: 2.5% 5.5% 0 5.5%;
    text-align: center
}

.button a {
    font-family: Proxima-N-W05-Reg,Arial,Helvetica,sans-serif;
    display: inline-block;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    background: #1e9b98;
    border-radius: 0.6rem;
    font-weight: 700;
    /*border: 0.23rem solid #15202c;*/
    text-align: center;
    margin: 2% 5%;
    min-width:100px;
}

.button a:hover{
    background:#4c9e9e;
}

.page-container p{
    line-height: 2rem;
}