/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~General~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
:root{
    --mainColor:#192839;
    --secondaryColor: #325171;

    --borderColor:#164D56;

    --mainText: #f3f3f3;
    --secondaryText: #ffffff;


    --previewBg:rgb(25, 39, 52, 0.8);
    --previewShadow: #1f2f3f;


    --buttonColor:#164D56;


}
html, body{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body *{
    transition: 0.3s;
}

@font-face {
    font-display: block;
    font-family:"Proxima-N-W01-Reg";
    src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix");
    src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/64017d81-9430-4cba-8219-8f5cc28b923e.woff2") format("woff2"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/e56ecb6d-da41-4bd9-982d-2d295bec9ab0.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/2aff4f81-3e97-4a83-9e6c-45e33c024796.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/ab9cd062-380f-4b53-b1a7-c0bec7402235.svg#ab9cd062-380f-4b53-b1a7-c0bec7402235") format("svg");
}
@font-face{
    font-family:"Proxima-N-W05-Reg";
    src: url("//static.parastorage.com/services/santa-resources/resources/viewer/user-site-fonts/fonts/ProximNova/v1/ProximaNovaW05-Regular.woff2") format("woff2"),
    url("//static.parastorage.com/services/santa-resources/resources/viewer/user-site-fonts/fonts/ProximNova/v1/ProximaNovaW05-Regular.woff") format("woff");
}
h1, h2, h3, h4, h5, h6, strong{
    color: var(--mainText);
    font-family: Proxima-N-W05-Reg,Arial,Helvetica,sans-serif;
    font-weight: 700;
    font-size: 28px;
}

p, li, span, u,input, a,textarea{
    color: var(--mainText);
    font-family: Proxima-N-W05-Reg,Arial,Helvetica,sans-serif;
}

b{
    font-weight: 800;
    color:white;
}


.page {
    color:white;
    padding-top:50px;
    padding-right: 50px;
}
ul {
}
ul li{
    padding-bottom: .75rem;
}

p,li { font-size:20px;}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}


/* Icon */
.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
    color:white;
}
.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 400; }
.icon > .label {
    display: none; }
.icon:before {
    line-height: inherit; }
.icon.solid:before {
    font-weight: 900; }
.icon.brands:before {
    font-family: 'Font Awesome 5 Brands'; }
body{
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed;
    background-size: 100% 100%; /* Resize the background image to cover the entire container */
    height: 100%; /* You must set a specified height */
    min-height:100vh;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Applications~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#internet-icon{
    float:left;
    top:0;
    margin-top:2.5%;
    margin-right:2%;
    position:absolute;

}
.internet-icon{
    float:left;
    top:0;
    position:absolute;
    border-color:transparent;

}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Slideshows~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.prevA, .nextA{
    cursor: pointer;
    position: absolute;
    height:auto;
    color: white;
    background-color:var(--borderColor);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;

}

.nextA{
    position: absolute;
    right: 5%;
    border-radius: 3px 0 0 3px;
}
.prevA{
    position: absolute;
    left: 5%;
    border-radius: 3px 0 0 3px;
}
.prevA:hover, .nextA:hover {
    background-color: var(--previewShadow);
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Dragging Feature~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#draggable {
    width: 100%;
    background-color:var(--secondaryColor);
    margin-top:0%;
    margin-bottom:0%;
    z-Index:5;
    border:2px solid var(--borderColor);
}
.drag{
    background-color:inherit;
    z-Index:5;
}
@media screen and (max-width: 1040px) {
    #draggable, .draggable{
        width:100%;
        height:auto;
        margin:0;
        padding:0;
        left:0;
    }
}
.windows{
    width:100%; height:100%; min-height:800px;display: flex; justify-content: center
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~resume~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.resume{
    margin-bottom:5%;
}
.resume-display{
    margin:5%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}